@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FAE8F1;
    --secondary-color: #E4D6EA;
    --font-color: #333;
    --font-family: 'Merriweather', serif;
    --font-size: 16px;
    --line-height: 1.5;
    --color1: #B3B3B3;
    --color2: #3AA7DF;
    --color3: #A779A3;
    --color4: #4F46E5;
    --foter-color: #17202A;

}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 1em;
    background-color: #f5f5f5;
    color: #333;
}

nav{
    margin: 1em auto 5em auto;
    width: min(1000px, 100%);
    padding-left: 0;
}


nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    gap: 2em;
}

nav li:first-child{
    margin-right: auto;
    font-weight: bold;
}

nav li:first-child a {
    font-size: 1.3rem;
}

nav a{
    text-decoration: none;
    color:#333;
    font-size: 1rem;
}

nav a:hover{
    text-decoration: underline;
}

header, section {
    margin:2em auto;
    width: min(75em, 100%);
    padding-left: auto;
    padding:min(2em, 15%);
    background-color:var(--primary-color);
    border-radius: 1em;
}

.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
}

header img{
    max-width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius:1em;
}
.text-container{
    flex: 0 1 34em;
}
.text-container h1{
    font-size: 2.5rem;
}
.text-container p{
    margin: 1em 0;
    font-size: 1.25rem;
    font-family: arial;
}
.cta-button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color4);
    color : white;
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}
 .secondary {
    background-color: var(--color2);
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--secondary-color);
    text-align: center;
}

h1{
    font-size: 5rem;
}

section p{
    margin-top: 1em;
    font-size: 1.25rem;
}

section img {
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.section-title::after{
    content: "";
    width: 100px;
    height: 3px;
    background: orange;
    display: block;
    border-radius: 1em;
    margin: 5px auto 0;
}

.work::after{
    content: "";
    width: 180px;
    height: 3px;
    background: orange;
    display: block;
    border-radius: 1em;
    margin: 5px auto 0;
}

.title-div{
    position: relative;
    margin-bottom: 50px;
}
.header-title::after{
    content: "";
    width: 120px;
    height: 3px;
    background: orange;
    display: block;
    border-radius: 1em;
    position:absolute;
    left: 50px;
    margin: 5px auto 0;
}
.detail-title::after{
    content: "";
    width: 190px;
    height: 3px;
    background: orange;
    display: block;
    border-radius: 1em;
    margin: 5px auto 0;
}

.about-title::after{
    content: "";
    width: 140px;
    height: 3px;
    background: orange;
    display: block;
    border-radius: 1em;
    margin: 5px auto 0;
}

section#my-work{
    background-color: #DEE5E2;
}

.grid-container{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 1em;
}

.grid-container img{
    height: 100%;
    width: 100%;
    border-radius: 1em;
    transition: 100ms ease;
    cursor: grab;
}
.grid-container img:hover{
    scale: 1.05;
}

.work-button{
    display: inline-block;
    text-decoration: none;
    background-color: var(--color4);
    color : white;
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

#details h2{
    font-size: 2.4rem;
}

details{
    margin-top: 1em;
    background-color: var(--color1);
    border-radius: 1em;
}
details summary{
    padding: 1em;
    font-size: 1.5rem;
    color: blue;

}
details p{
    padding: 0 2em 2em 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-section{
    padding: 1px 0;
    background: var(--foter-color);
    color: white;
    border-radius: 1em;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: white;
}

.footer-section .section-content{
    margin:2em auto;
    width: min(75em, 100%);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section .social-link-list{
    display: flex;
    gap: 10px;
}

.footer-section .social-link-list a{
    font-size: .7em;
    cursor: pointer;
}

.footer-section .social-link .fa-youtube:hover{
    color: red;
}

.footer-section .social-link-list a:hover{
    -webkit-text-stroke: 1px white;
}

.footer-section .social-link .fa-linkedin:hover{
    color: #26B2F3;
}
.footer-section .social-link .fa-x-twitter:hover{
    color: #020f15;
}
.footer-section .social-link .fa-github:hover{
    color: #A168E0;
}
.footer-section .social-link .fa-facebook:hover{
    color: #0e3ed1;
}
.footer-section .social-link .fa-tiktok:hover{
    color: #01070a;
}
.footer-section .social-link .fa-linkedin:active{
    color: #26B2F3;
}
.footer-section .social-link .fa-x-twitter:active{
    color: #020f15;
}
.footer-section .social-link .fa-github:active{
    color: #A168E0;
}
.footer-section .social-link .fa-facebook:active{
    color: #0e3ed1;
}
.footer-section .social-link .fa-tiktok:active{
    color: #01070a;
}

.footer-section .seperator{
    margin: 0 5px;
}

.footer-section .policy-text a{
    font-size: .8rem;
    text-decoration: none;
}

.footer-section .policy-text a:hover{
    text-decoration: underline;
}

@media(max-width: 520px){

    body{
        display: flex;
        flex-direction: column;
    }
    nav li {
        display: none;
    }

    nav li:first-child,
    nav li:last-child {
    display: flex;
}

    nav li:first-child a {
    font-size: 1rem;
}

.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.text-container h1{
    font-size: 1.5rem;
    width: 100%;
}

.text-container h2{
    font-size: 1.2rem;
    width: 100%;
}

.text-container p{
    text-align: left;
    margin-top: 1em;
    font-size: 1rem;
}

.cta-button{
    margin-bottom: 10px;
    font-size: 1.1rem;
}

#about img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.grid-container{
    display: flex;
    flex-direction: column;
}

.work{
    font-size: 1.2rem;
}

#details h2{
    font-size: 1.2rem;
}

details summary{
    padding: 1em;
    font-size: 1rem;

}

details p{
    padding: 0 2em 2em 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align:start;
}

.footer-section .section-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em auto;
}



.footer-section .copyright-text{
    font-size: .8rem;
}

.footer-section .policy-text{
    font-size: .8rem;
}

.footer-section .social-link-list a{
    font-size: .5rem;
}

header, section{
    margin: .2em auto;
}



.work::after{
    content: "";
    width: 160px;
    height: 3px;
    background: orange;
    display: block;
    border-radius: 1em;
    margin: 5px auto 0;
}

.title-div{
    position: relative;
    margin-bottom: 20px;
}
.header-title::after{
    content: "";
    width: 80px;
    height: 3px;
    background: orange;
    display: block;
    border-radius: 1em;
    position:absolute;
    left: 100px;
    margin: 5px auto 0;
}
.detail-title::after{
    content: "";
    width: 100px;
    height: 3px;
    background: orange;
    display: block;
    border-radius: 1em;
    margin: 5px auto 0;
}

.about-title::after{
    content: "";
    width: 120px;
    height: 3px;
    background: orange;
    display: block;
    border-radius: 1em;
    margin: 5px auto 0;
}
}